.wrap {
    display: flex;
    align-items: flex-start;
    background-color:#FFF8F8 ;

}

.left {
    width: 20%;
}

.right {
    width: 80%;
    margin: 0 20PX;

    // h1 {
    //     font-size: 30px;
    //     font-weight: 600;
    //     color: #ED1C24;
    //     text-align: left;
    // }
}