.sidebar {
  background: #ffffff;
  width: 20%;
  transition: 0.3s;
  z-index: 100;
  position: fixed;
  top: 100px; // header height
  left: 0;
  height: calc(100vh - 100px);

  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-width: none;
  -ms-overflow-style: none;


  ul {
    padding-left: 0;
  }

  li {
    margin-bottom: 10px;

    a {
      display: flex;
      align-items: center;
      padding: 20px 30px;
      text-decoration: none;
      color: #555;
      font-weight: 500;

      &:hover {
        background: #FFF8F8;
        border-right: 4px solid #ED1C24;
      }
    }
  }
}

.icon {
  margin-right: 12px;
  font-size: 16px;
}

.active {
  background: #ffe7e7;
  color: #e63946 !important;
}

.hamburger {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}

/* DROPDOWN */
.dropdownTitle {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  cursor: pointer;

  &:hover {
    background: #FFF8F8;
    border-right: 4px solid #ED1C24;
  }
}

.dropdownLeft {
  display: flex;
  align-items: center;
}

.submenu {
  padding-left: 20px;

  li a {
    padding: 10px 30px;
    font-size: 14px;
  }
}

/* LOGOUT */
.logoutItem {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  cursor: pointer;

  &:hover {
    background: #FFF8F8;
    border-right: 4px solid #ED1C24;
    color: #e63946;
  }
}

/* ================= MODAL ================= */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

}

.logoutToast {
  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  text-align: center;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.logoutIconCircle {
  background: #FFF8F8;
  border-radius: 50%;
  width: 111px;
  height: 111px;
  margin: 0 auto 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoutIcon {
  width: 92px;
  height: 92px;
  background: #ED1C24;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.logoutText {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 25px;
}

.logoutActions {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btnCancel {
  padding: 14px 35px;
  border-radius: 50px;
  border: none;
  background: #2B2B2B;
  color: #fff;
  cursor: pointer;
}

.btnConfirm {
  padding: 14px 35px;
  border-radius: 50px;
  border: none;
  background: #ED1C24;
  color: #fff;
  cursor: pointer;
}

/* BODY LOCK */
body.modalOpen {
  overflow: hidden;
  height: 100vh;
}


// .sidebar {
//   position: fixed;
//   top: 100px; // header height
//   left: 0;
//   height: calc(100vh - 100px);

//   overflow-y: auto;
//   overflow-x: hidden;

//   scrollbar-width: none;
//   -ms-overflow-style: none;
// }

.sidebar::-webkit-scrollbar {
  display: none;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .open {
    transform: translateX(0);
  }

  .hamburger {
    display: block;
  }
}